/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  background: #232323; }

.header .title-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 100%;
  text-align: center;
  margin-top: -30px;
  z-index: 10;
  transition: top 0.50s ease-in-out; }
  .header .title-wrapper img {
    width: 60px; }
  .header .title-wrapper h1 {
    font-size: 2em;
    color: #fafafa;
    font-weight: 100;
    letter-spacing: 2px; }
.header .title-wrapper.secondary {
  top: 105px;
  /*
  h1 {
  	display: inline-block;
  	font-size: 1.5em;
  	//margin-top: -20px;
  	position: relative;
  	top: -16px;
  }
  img {
  	display: inline-block;
  	width: 45px;
  	margin-right: 7px;
  }*/ }

.nav-wrapper {
  position: fixed;
  top: 25px;
  width: 100%;
  font-weight: 100;
  letter-spacing: 2px;
  z-index: 10;
  transition: top 0.50s ease-in-out; }
  .nav-wrapper .nav-mobile-button {
    right: 25px;
    position: fixed;
    color: #fafafa;
    font-size: 1.3em; }
  .nav-wrapper .navigation {
    width: 100%;
    font-size: 0.7em;
    padding-top: 20px;
    overflow: hidden; }
    .nav-wrapper .navigation ul {
      text-align: center; }
      .nav-wrapper .navigation ul li {
        display: inline-block; }
        .nav-wrapper .navigation ul li a {
          color: #fafafa; }
        .nav-wrapper .navigation ul li a.active {
          color: #ff5349;
          text-decoration: none;
          font-weight: 400; }

.nav-wrapper.secondary {
  top: 125px; }

#app {
  color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
  transition: transform 0.50s ease-in-out; }
  #app .app-top {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -100vh; }
  #app .app-right {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 100vw;
    top: 0; }
  #app .app-bottom {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 100vh; }
  #app .app-left {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: -100vw;
    top: 0; }

#app.portfolio {
  transform: translate(0, 100%); }

#app.about {
  transform: translate(-100%, 0); }

#app.reviews {
  transform: translate(0, -100%); }

#app.contact {
  transform: translate(100%, 0); }

/*# sourceMappingURL=main.css.map */
